<%@ Page Language="C#" %>
<html>
	<head>
		<title>Segunda con ASPX</title>
	</head>
	<body>
		<h1>Esto es Segunda con ASPX</h1>
<%
	for(int i = 0; i < 10; i++){
		Response.Write("Hola Pablo ASPX <br>");
	}



%>
	</body>
</html>