<html>
<script language="C#" runat="server">
	void clicando(Object o, EventArgs e){
		etiqueta.Text = "Alguien me ha cambiado";
		boton.Text = "Quiero mas Calor";		

	}
	

</script>

	<head>
		<title>Segunda con ASPX</title>
	</head>
	<body>
		<h1>Esto es Segunda con ASPX</h1>
	<form action="tercera.aspx" method="POST" runat="server">
	<asp:label id="etiqueta" font-size=30px forecolor=blue runat="server">Esta es la etiqueta</asp:label>
	
	<asp:button id="boton" text="Dale Calor" runat="server" onClick="clicando" />
	</form>

	</body>
</html>